repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: detect-private-key
        exclude: |
          (?x)^(
            venv/.*|
            tests/secret-detection/.*|
            \.secrets\.baseline.*
          )$
      - id: check-added-large-files
      - id: check-merge-conflict

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: |
          (?x)^(
            package.lock.json|
            venv/.*|
            tests/secret-detection/.*|
            \.secrets\.baseline.*
          )$
